<header role="banner" id="devdap-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default navbar-fixed-top js-fullheight">
				<div id="navbar" class="navbar-collapse js-fullheight">
					<ul class="nav navbar-nav navbar-left">
						<li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
						<li><a href="#" data-nav-section="services"><span>Services</span></a></li>
						<!-- <li><a href="#" data-nav-section="explore"><span>Project</span></a></li> -->
                        <li><a href="#" data-nav-section="pricing"><span>Pricing</span></a></li>
						<li><a href="#" data-nav-section="gallery"><span>Gallery</span></a></li>
						<li><a href="#" data-nav-section="team"><span>Team</span></a></li>
					</ul>
				</div>
			</nav>
	  </div>
</header>
<section id="devdap-home" data-section="home" class="main-back" data-stellar-background-ratio="0.5">
<div class="gradient"></div>
<div class="container">
    <div class="text-wrap">
        <div class="text-inner">
            <div class="row">
                <div class="col-md-8  text-center">
                    <h1 class="to-animate">Messy Blessings</h1>
                    <h2 class="to-animate">THE ONLY WAY TO BEAUTY AND HEALTH - NATURALLY</h2>
                    <!-- <p><a href="#" class="btn to-animate btn-primary">Explore</a></p> -->
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section id="devdap-services" data-section="services">
<div class="devdap-services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Activated Charcoal Features</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <h3 class="to-animate">Charcoal has for centuries been promoted as a potent natural treatment, because it consists of a variety of proposed benefits.</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="core-features">
                
                <div class="grid2">
                    <div class="core-f">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="core">
                                    <i class="fas fa-skull-crossbones to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Acute Poisoning</h3>
                                        <p>Due to the toxin-binding properties of activated charcoal, it is an effective treatment for acute poisoning.</p>
                                    </div>
                                </div>
                                <div class="core">
                                    <i class="fas fa-fish to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Reduces Symptopms of Fish Odor Syndrome</h3>
                                        <p>Activated Charcoal's porous surface binds with small odour compounds, like trimethylamine which causes a rotting fish smell in some people's odour.</p>
                                    </div>
                                </div>
                                <div class="core">
                                    <i class="fas fa-heart to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Lower Cholesterol Levels</h3>
                                        <p>Activated Charcoal can bind cholesterol and cholesterol-containing bile acids in the gut, preventing the body from absorbing them.</p>
                                    </div>
                                </div>
                                <div class="core">
                                    <i class="fas fa-tooth to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Teeth Whitening</h3>
                                        <p>Anecdotal claims show that brushing your teeth daily with activated charcoal may whiten your teeth dramatically.</p>
                                    </div>
                                </div>
                                <div class="core">
                                    <i class="fas fa-glass-cheers to-animate-2"></i>
                                    <div class="devdap-post to-animate">
                                        <h3>Hangover Prevention</h3>
                                        <p>Becuase Activated Charcoal adsorbs heavy metals and toxins, hangovers do not have to ruin a good memory.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid2 to-animate features-back" >
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<!-- <section id="devdap-explore" class="new-grey" data-section="explore">
<div class="container">
    <div class="row">
        <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">User Gallery</h2>
            
        </div>
    </div>
</div> -->
<!-- <div class="devdap-project">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="project-grid to-animate-2 gallery-img-1-back">
                    <div class="desc">
                        <h3><a href="#">Cute Honey bee</a></h3>
                        <span>By: Louie D' Great Shot on Ds - Drone</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="project-grid to-animate-2 gallery-img-2-back">
                    <div class="desc">
                        <h3><a href="#">Rapid Reality Capture</a></h3>
                        <span>By: John Doe Shot on Ds - Drone</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <div class="project-grid to-animate-2 gallery-img-3-back">
                    <div class="desc">
                        <h3><a href="#">Hill View</a></h3>
                        <span>By: Thomas Andy Shot on Ds - Drone</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>	
</div> -->
<!-- </section> -->

<section id="devdap-pricing" data-section="pricing">
<div class="devdap-pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Buy Messy Blessings - AC Teeth Whitening System</h2>
                
            </div>
        </div>

        <div class="row">
            
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-8 col-sm-8 col-md-offset-2 to-animate">
                <div class="price-box ">
                    
                    <div class="price"><sup class="currency">R</sup>450<small>/ Shipping:Free</small></div>
                    <hr>
                    <p>The Teeth Whitening System consits of:</p>
                    <ul>
                        <li>1x Teeth Whitening Powder (50ml)</li>
                        <li>1x Bamboo Toothbrush</li>
                        <li>1x Bottle All-Natural Mouthwash (200ml)</li>
                        <li>2x 10ml - Oil Pulling Sachets</li>
                    </ul>
                    <p><a href="#" class="btn btn-pricing">Buy Now</a></p>
                </div>
            </div>
            
        </div>

        
    </div>
</div>
</section>	

<section id="devdap-gallery"  class="dark-grey"  data-section="gallery">
<div class="container">
    <div class="row">
        <div class="col-md-12 section-heading text-center">
            <h2 class="to-animate">Messy Blessings - Gallery</h2>
            
        </div>
    </div>
</div>
<div class="devdap-project">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="project-grid to-animate-2 gallery-img-4-back">
                    
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="project-grid to-animate-2 gallery-img-5-back">
                    
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="project-grid to-animate-2 gallery-img-6-back">
                    
                </div>
            </div>
            
        </div>
    </div>	
</div>
</section>
<section id="devdap-team"  data-section="team">
<div class="devdap-team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Professionals Recommend Messy Blessings</h2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="team-box text-center to-animate-2">
                    <div class="user">
                    <%=image_tag("team/t1.jpg", alt: "")%>
                    </div>
                    <h3>Dr Hezel B Cohen</h3>
                    <span class="position">General Dentist - Perth, Australia</span>
                    
                    <ul class="social-media">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="team-box text-center to-animate-2">
                    <div class="user">
                        <%=image_tag("team/t2.jpg", alt: "")%>
                    </div>
                    <h3>Roger Thom</h3>
                    <span class="position">Photographer, Zoomin' Photos</span>
                    
                    <ul class="social-media">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box text-center to-animate-2">
                    <div class="user">
                    <%=image_tag("team/t3.jpg", alt: "")%>
                    </div>
                    <h3>Roger Garfield</h3>
                    <span class="position">Photographer, Honey-Lens Pictures</span>
                    
                    <ul class="social-media">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team-box text-center to-animate-2">
                    <div class="user">
                    <%=image_tag("team/t4.jpg", alt: "")%>
                    </div>
                    <h3>Rarfield Nato</h3>
                    <span class="position">CEO, Photo Phactory</span>
                    
                    <ul class="social-media">
                    <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="instagram"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<div class="getting-started getting-started-1">
<div class="getting-grid getting-started-back">
    <div class="desc text-center">
        <h2>Getting Started</h2>
        <p>Buy The Messy Blessings Teeth Whitening System now and Experience Real Oral Health.</p>
        <p><a href="#" class="btn btn-started">Buy Now</a></p>
    </div>
</div>
</div>